*{
	color:white;
}
/*Navigation Bar*/
#nav-bar{
	position: relative;
	width:90%;
	margin:auto;
	background-color:#06174a;

}

/*Site Info*/
#nav-bar img{
	position:absolute;
	top:-4px;
	left:-35px;
}

#site-name{
	display: inline-block;
}

#site-name h1{
	line-height:20px;
	margin-left:25px;
}


body{
	background-color:#081041;
}

/*Main Content*/
main{
	width:100%;
}

.main{
	display: inline-block;
	vertical-align: top;
	height:100vh;
	width:71%;
	margin:1%;
}

.main-content{
/*	display: inline-block;
	min-height:5vh;
	width:99%;
	margin:2px;*/
/*	background-color:#081041;*/
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	align-content: center;
	margin:20px;
	

}

.content{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	background-color:#06174a;

}

.margin{
	margin:20px 0px;
}

/*Carousel*/
#carousel{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.carousel-poster{
	display: inline-block;
	height:14vw;
	width:14vw;
/*	margin:2px;*/
	background-color: deepskyblue;
	border-radius: 5px;

}

/*Latest Releases*/

#latest-release{
	/*display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.latest-released-song{
	height:10vw;
	width:30vw;
/*	margin:10px;*/
	background-color: deepskyblue;
	border-radius: 5px;
}

/*Popular Artist*/
#popular-artist{
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.artist{
	height:8vw;
	width:8vw;
	border-radius: 50%;
/*	margin: 10px;*/
	background-color: deepskyblue;
}

/*Music Types*/
#music-types{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

#music-types #stations{
	height:7vw;
	width:7vw;
/*	margin: 10px;*/
	border-radius: 5px;
	background-color: deepskyblue;
}

.type{
	height:7vw;
	width:7vw;
	border-radius: 50%;
/*	margin: 5px;*/
	background-color: deepskyblue;
}

/*Top Mixes*/
#top-mixes{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.mixes{
	height:10vw;
	width:20vw;
/*	margin: 5px;*/
	border-radius: 5px;
	background-color: deepskyblue;
}

/*Latest English*/
#latest-english{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.latest-english-song{
	height:8vw;
	width:8vw;
/*	margin: 10px;*/
	border-radius: 5px;
	background-color: deepskyblue;
}

/*Latest Hindi*/
#latest-hindi{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.latest-hindi-song{
	height:8vw;
	width:8vw;
/*	margin: 10px;*/
	border-radius: 5px;
	background-color: deepskyblue;
}


/*Side Queue*/
#queue{
	height:130vh;
	width:24%;
	background-color:#06174a;
}

.queued-song{
	display: inline-block;
	height:5vw;
	width:90%;
/*	margin: 5px;*/
	border-radius: 5px;
	background-color: deepskyblue;
}