*{
	color:white;
}
/*Navigation Bar*/
#nav-bar{
	position: relative;
	width:90%;
	margin:auto;
	background-color:#06174a;

}

#nav-bar img{
	position:absolute;
	top:-4px;
	left:-55px;
}

#favourites{
	font-size: 1.3rem;
	line-height: 40px;
	margin:auto 20px;
}

input{
	position: absolute;
	height:50%;
	width:15vw;
	top:20%;
	left:73%;
	border-radius: 5px;
	font-size: 1.2rem;
	padding:0px 20px;
}

#profile img{
	position: absolute;
	left:96%;
	width:5.5%;
	opacity: 0.8;
	border-radius: 50%;
}
/*Site Info*/


#site-name{
	display: inline-block;
}

#site-name h1{
	font-size: 2.5rem;
	line-height:82px;
	margin:0px 0px 0px 25px;
	background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}


body{
	background-color:#081041;
}

/*Main Content*/
main{
	width:100%;
}

.main{
	display: inline-block;
	vertical-align: top;
	height:92vh;
	overflow: scroll;
	width:71%;
	margin:1%;
}

.main-content{
/*	display: inline-block;
	min-height:5vh;
	width:99%;
	margin:2px;*/
/*	background-color:#081041;*/
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	align-content: center;
	margin:20px;
	

}

.content{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	background-color:#06174a;

}

.margin{
	margin:20px 0px;
}

.sub-heading{
	font-size: 1.5rem;
	margin-left:35px;
}

/*Carousel*/
#carousel{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.carousel-poster{
	display: inline-block;
	height:14vw;
	width:20vw;
/*	margin:2px;*/
	background-color: deepskyblue;
	border-radius: 5px;

}

/*Latest Releases*/

#latest-release{
	/*display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.latest-released-song{
	display: flex;
	flex-direction: row;
	align-content: center;
	height:6vw;
	width:20vw;
/*	margin:10px;*/
	background-color: deepskyblue;
	border-radius: 5px;
}

#latest-released-song-poster{
	display: inline-block;
	height:100%;
	width:7vw;
	background-color: lightblue;
}

#latest-released-song-info{
	font-size: 1.2rem;
	line-height: 20px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-top:5%;
}

#latest-released-song-info h4{
	font-size: 1.4rem;
	margin:10px 0px;
}

#latest-released-song-actions{
	display: inline-block;
	font-size: 1rem;
	margin: 6% 20px auto auto;
}

/*Popular Artist*/
#popular-artist{
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.artist{
	height:10vw;
	width:10vw;
/*	margin: 10px;*/
/*	background-color: purple;*/
}

#artist-image{
	height:9vw;
	width:9vw;
	margin: auto;
	border-radius: 50%;
/*	margin: 10px;*/
	background-color: deepskyblue;
}

#artist-name p{
	font-size: 1.4rem;
	margin-top:0px ;
	text-align: center;
}
/*Music Types*/
#music-types{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

#music-types #stations{
	height:7vw;
	width:7vw;
/*	margin: 10px;*/
	border-radius: 5px;
	background-color: deepskyblue;
}

.type{
	height:7vw;
	width:7vw;
	border-radius: 50%;
/*	margin: 5px;*/
	background-color: deepskyblue;
}

/*Top Mixes*/
#top-mixes{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.mixes{
	height:10vw;
	width:20vw;
/*	margin: 5px;*/
	border-radius: 5px;
	background-color: deepskyblue;
}

/*Latest English*/
#latest-english{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.latest-english-song{
	height:8vw;
	width:8vw;
/*	margin: 10px;*/
	border-radius: 5px;
	background-color: deepskyblue;
}

/*Latest Hindi*/
#latest-hindi{
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;*/
}

.latest-hindi-song{
	height:8vw;
	width:8vw;
/*	margin: 10px;*/
	border-radius: 5px;
	background-color: deepskyblue;
}


/*Side Queue*/
#queue{
	height:92vh;
	width:24%;
	vertical-align: top;
	background-color:#06174a;
	overflow: scroll;
}

.inner-queue{
	display: flex;
	flex-direction: column;
	align-content: center;
}

.queued-song-body{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.queued-song-body span{
	font-size: 1.2rem;
	margin:auto 3px;
}

.queued-song{
	display: inline-block;
	height:5vw;
	width:88%;
	margin: 5px;
	border-radius: 5px;
	background-color: deepskyblue;
}

/*Current Song*/

#current-playing-song-body{
	height: 10vh;
	width:96vw;
	margin: auto;
	display: flex;
	flex-direction: row;
	background-color: royalblue;
}

#song-info{
	display: flex;
	flex-direction: row;
	height:5vw;
	width:18vw;
	background-color: deepskyblue;
	margin: auto;
}

#song-poster{
	height:100%;
	width:5vw;
	background-color: lightblue;
}

#song-name-singer{
	margin-left:1.5vw;
	margin-top:0.5vw ;
	line-height: 7px;
}

#like-button{
	margin: auto;
}

#song-controls{
	display: flex;
	flex-direction: column;
	height:5vw;
	width:35vw;
	background-color: deepskyblue;
	margin: auto;
}

#time-management{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	margin: auto;
}

#indicator{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: grey;
	height: 4px;
	width:20vw;
}

#indicates{
	height: 100%;
	width:8vw;
	background-color: lawngreen;
}

#circle{
	height:10px;
	width:10px;
	margin: -3px 0px;
	border-radius: 50%;
	background-color: green;
}

audio{

}

#other-controls{
	height:5vw;
	width:18vw;
	background-color: deepskyblue;
	margin: auto;
}